# Build directories
build/
out/
bin/
cmake-build-debug

# IDE settings
.vscode/
.idea/
*.swp

# OS generated
.DS_Store
Thumbs.db


build.sh
.venv
__pycache__/
*.pyc
*.so

# Ignore training weights
*.pkl
*.bin

train.sh
logs/*.txt